@{

}
@model BooksViewModel
<h1>Books, Books, Books!</h1>


@foreach (Books p in Model.Books)
{
<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            @p.Title
            <span class="badge bg-primary rounded-pill" style="float:right">
                <small>@p.Price.ToString("c")</small>
            </span>
        </h4>
    </div>
    <div class="card-text p-1">@p.Author</div>
    <div class="card-text p-1">@p.Publisher</div>
    <div class="card-text p-1">@p.Isbn</div>
    <div class="card-text p-1">@p.Classification/@p.Category</div>
    <div class="card-text p-1">Page Count: @p.PageCount</div>

</div>
}
<div page-models="@Model.Pageinfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>